{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}


{% block body %}


    <div class="row">
        <div class="col-12">
            <h2>Bienvenue sur mon site</h2>
        </div>
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, eos eveniet. Facilis eum iste libero necessitatibus deleniti laudantium, odio voluptatibus illo repellendus quisquam ex quasi nemo saepe molestiae vero totam sequi officia nulla nisi ullam consequatur culpa reprehenderit! Deleniti, accusamus!
        </div>

    </div>


{% endblock %}

{% block test_bloc %}
    test de bloc
{% endblock %}