{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}


{% block body %}


    <div class="row">
        <div class="col-12">
            <h2>Bienvenue</h2>
        </div>
        <div class="col-12">
            Petit diagramme

            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTtN5EU39LmdpLdNpWT6JL192uIL-nDtRczCbWGxGu3KvZS7qBcvQG3Qk8o5zsQqcubrC8UnNBm-Prh/embed?start=false&loop=false&delayms=3000" 
            frameborder="0" width="100%" height="700px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            </iframe>
        </div>

    </div>


{% endblock %}

{% block test_bloc %}
    test de bloc
{% endblock %}